<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nexus_max.project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.nexus_max.project"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".signin" />
        <activity android:name=".option" />
        <activity android:name=".messages" />
        <activity android:name=".Reply" />
        <activity android:name=".SHARE" />
        <activity android:name=".precautionadmin" />
        <activity android:name=".donationreg" />
        <activity android:name=".search" />
        <activity android:name=".emecalladmin" />
        <activity android:name=".waeatheradmin" />
        <activity android:name=".newsadmin" />
        <activity android:name=".alertadmin" />
        <activity android:name=".campreg" />
        <activity android:name=".campstatus" />
        <activity android:name=".forgotpass" />
        <activity android:name=".PASSWO" />
        <activity android:name=".feedback" />
        <activity android:name=".camplogin" />
        <activity android:name=".otp" />
        <activity android:name=".firstt" />
        <activity android:name=".Main_menu" />
        <activity android:name=".PrecTitles" />
        <activity android:name=".PrecView" />
        <activity android:name=".DonView" />
        <activity
            android:name=".Notif"
            android:label="@string/title_activity_notif"
            android:theme="@style/AppTheme" />
        <activity android:name=".AdminCalamEntry" />
        <activity android:name=".AdminDash" />
        <activity android:name=".AdminWeatherEntry" />
        <activity android:name=".AdminNewsEntry" />
        <activity android:name=".AdminAlertEntry" />
        <activity android:name=".AdminEmCallEntry" />
        <activity android:name=".EmCallPage" />
        <activity android:name=".ReplyPage"></activity>
    </application>

</manifest>